<table class="table">
  <thead>
  <tr>
    <th scope="col">Id invoice</th>
    <th scope="col">Amount</th>
    <th scope="col">Sell price</th>
    <th scope="col">Due date</th>
    <th scope="col">description</th>
    <th scope="col">Processed</th>
    <th scope="col">action</th>
  </tr>
  </thead>
  <tbody>
  <% @invoices.each do |invoice| %>
    <tr id="<%= dom_id invoice %>">
      <%= render partial: 'invoice', locals: {invoice: invoice} %>
    </tr>
  <% end %>
  <%== pagy_bootstrap_nav(@pagy) %>
  </tbody>
</table>