<p style="color: green"><%= notice %></p>

<%= link_to "New attachment", new_attachment_path, class: 'btn btn-outline-secondary' %>
<h1>Attachments</h1>
<table class="table table-hover" id="attachments">
  <thead>
    <tr>
      <% if current_user.admin? %>
        <th scope="col">User</th>
      <% end %>
      <th scope="col">#</th>
      <th scope="col">File</th>
      <th scope="col">File(Problem)</th>
      <th scope="col">description</th>
      <th scope="col"></th>
      <th scope="col">Created</th>
      <th scope="col">action</th>
    </tr>
    </thead>
  <tbody>
    <% @attachments.each do |attachment| %>
      <%= render attachment %>
    <% end %>
  </tbody>
</table>


